body
{
	background-color: #FFFFFF;
}

.heading
{
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
}

.heading2
{
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
}

.area
{
	margin-left: 3em;
}

.areatitle
{
	font-weight: bold;
}

.indented
{
	text-indent: 2em;
	text-align: justify;
	margin-right: 3em;
}